{% extends 'boroda/base1.html' %}
{% load static %}
{% block title %}
Обувь для детей
{% endblock %}


{% block content %}
<h1 align="left" >Сапоги, INDIGO KIDS</h1>
    <div align="right">Товар блаблабла очень хороший. Лучший товар в мире по самым низким ценам.</div>
    <div align="left">
        <img src="{% static 'boroda/images/163153113300.jpg' %}" style="position: relative";  alt="My image 1"/></div>



    <div class="fig"><img src="{% static 'boroda/images/745013770000.jpg' %}" width="300" height="400" style="position: relative"; alt="My image 1"/></div>

    <div class="fig"><img src="{% static 'boroda/images/158984571000.jpg' %}" width="300" height="400" style="position: relative"; alt="My image 1"/></div>
     <br><br><br><br><br>

<h2>{{ name.nameofprod }} <span>стоят</span> {{ name.price }}
    <span>. Страна-изготовитель: </span> {{ name.country }}
    <span>. В продаже с </span>{{ name.date }}</h2>

<hr>


{% endblock %}